<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Cinema Schedule</title>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const movieContainers = document.querySelectorAll('.movie-card');

            movieContainers.forEach(function (movieContainer) {
                const buttons = movieContainer.querySelectorAll('.movie-button button');
                const buyTicketBtn = movieContainer.querySelector('.BuyTicket button');

                buttons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        button.classList.toggle('active');
                        updateBuyTicketBtnText();
                    });
                });

                movieContainer.addEventListener('mouseleave', function () {
                    buttons.forEach(function (button) {
                        button.classList.remove('active');
                    });
                    updateBuyTicketBtnText();
                });

                function updateBuyTicketBtnText() {
                    const activeButtons = movieContainer.querySelectorAll('.movie-button button.active');
                    if (activeButtons.length >= 2) {
                        buyTicketBtn.textContent = 'Купити квитки';
                    } else {
                        buyTicketBtn.textContent = 'Купити квиток';
                    }
                }
            });
        });

        window.addEventListener('DOMContentLoaded', function () {
            const burgerMenu = document.querySelector('.burger-menu');
            const menuItems = document.querySelector('.menu-items');

            burgerMenu.addEventListener('click', function () {
                burgerMenu.classList.toggle('open');
                menuItems.classList.toggle('open');
            });
        });
    </script>
</head>
<header>
    <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="menu-items">
        <!-- Add your menu items here -->
        <a href="/login">Вхід</a>
        <a href="/register">Реєстрація</a>
        <a href="#">Вихід</a>
        <a href="/profile">Профіль</a>
        <a href="/">Головна</a>
    </nav>
</header>
<body>
<h1>Розклад сеансів</h1>
<div class="movie-container">
    {{ message }}
    {% for s in schedule %}
        <div class="movie-card">
            <h2>{{ s.title }}</h2>
            <article class="filmInfo">
                <p>м.Вінниця</p>
                <p>вул.Хмельницьке шосе, 95</p>
                <p>{{ s.date }}</p>
                <p>Початок: {{ s.start_time }}</p>
                <p>Кінець: {{ s.end_time }}</p>
            </article>
            <p class="Seats">Вільні місця</p>
            <form method="POST" action="/buy_ticket/{{ s.id }}">
                <div style="display: flex; flex-wrap: wrap;">
                    {% for seat in range(1, 17) %}
                        {% if seat not in s.seats %}
                            <input type="checkbox" name="seat" value="{{ seat }}" id="seat-{{ seat }}"
                                   class="checkbox-button" disabled style="margin-right: 10px;">
                        {% else %}
                            <input type="checkbox" name="seat" value="{{ seat }}" id="seat-{{ seat }}"
                                   class="checkbox-button" style="margin-right: 10px;">
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <button type="submit">Купити квиток</button>
            </form>


        </div>
    {% endfor %}
</div>
</body>
</html>