<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Cinema Schedule</title>
    <style>
        {% if schedule %}
        body {
            height: 100%;
        }
        {% else %}
        body {
            height: 100vh;
        }
        {% endif %}
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const movieContainers = document.querySelectorAll('.movie-card');

            movieContainers.forEach(function (movieContainer) {
                const checkboxes = movieContainer.querySelectorAll('input[type="checkbox"]');
                const buyTicketBtn = movieContainer.querySelector('button[type="submit"]');

                checkboxes.forEach(function (checkbox) {
                    checkbox.addEventListener('change', function () {
                        updateBuyTicketBtnText();
                        limitCheckboxSelections();
                    });
                });

                movieContainer.addEventListener('mouseleave', function () {
                    checkboxes.forEach(function (checkbox) {
                        checkbox.checked = false;
                    });
                    updateBuyTicketBtnText();
                    limitCheckboxSelections();
                });

                function updateBuyTicketBtnText() {
                    const selectedCheckboxes = movieContainer.querySelectorAll('input[type="checkbox"]:checked');
                    if (selectedCheckboxes.length >= 2) {
                        buyTicketBtn.textContent = 'Купити квитки';
                    } else {
                        buyTicketBtn.textContent = 'Купити квиток';
                    }
                }

                function limitCheckboxSelections() {
                    const selectedCheckboxes = movieContainer.querySelectorAll('input[type="checkbox"]:checked');
                    if (selectedCheckboxes.length >= 2) {
                        checkboxes.forEach(function (checkbox) {
                            if (!checkbox.checked) {
                                checkbox.disabled = true;
                            }
                        });
                    } else {
                        checkboxes.forEach(function (checkbox) {
                            checkbox.disabled = false;
                        });
                    }
                }

                limitCheckboxSelections();
            });

            const burgerMenu = document.querySelector('.burger-menu');
            const menuItems = document.querySelector('.menu-items');

            burgerMenu.addEventListener('click', function () {
                burgerMenu.classList.toggle('open');
                menuItems.classList.toggle('open');
            });
        });
    </script>
</head>
<header>
    <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="menu-items">
        <a href="/">Головна</a>
        <a href="/profile">Профіль</a>
        <a href="/logout">Вийти</a>
    </nav>
</header>
<body>
<h1>Розклад сеансів</h1>
<h1>{{ messages }}</h1>
<div class="movie-container">
    {% set hasSchedule = false %}
    {% for s in schedule %}
    {% set hasSchedule = true %}
    <div class="movie-card">
        <h2>{{ s.title }}</h2>
        <article class="filmInfo">
            <p>м.Вінниця</p>
            <p>вул.Хмельницьке шосе, 95</p>
            <p>{{ s.date }}</p>
            <p>Початок: {{ s.start_time }}</p>
            <p>Кінець: {{ s.end_time }}</p>
        </article>
        <p class="Seats">Вільні місця</p>
        <form method="POST" action="/buy_ticket/{{ s.id }}">
            <div class="SeatsButton">
                {% for seat in range(1, 17) %}
                {% if seat not in s.seats %}
                <label for="seat-{{ seat }}" class="CheckboxDisable">
                    <span>{{ seat }}</span>
                    <input type="checkbox" name="seat" value="{{ seat }}" id="seat-{{ seat }}" disabled>
                </label>
                {% else %}
                <label for="seat-{{ seat }}" class="checkbox-label">
                    <input type="checkbox" name="seat" value="{{ seat }}" id="seat-{{ seat }}">
                    <span>{{ seat }}</span>
                </label>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            <button class="BuyTicketButton" type="submit">Купити квиток</button>
        </form>
    </div>
    {% endfor %}
</div>
</body>
</html>
