<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профіль</title>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      const burgerMenu = document.querySelector('.burger-menu');
      const menuItems = document.querySelector('.menu-items');


      burgerMenu.addEventListener('click', function() {
        burgerMenu.classList.toggle('open');
        menuItems.classList.toggle('open');
      });
    });
  </script>

    <style>
        {% if schedule %}
        body {
            height: 100%;
        }
        {% else %}
        body {
            height: 100vh;
        }
        {% endif %}
    </style>

</head>

<header>
  <div class="burger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="menu-items">
    <!-- Add your menu items here -->
    <a href="/">Головна</a>
    <a href="/profile">Профіль</a>
    <a href="/logout">Вийти</a>
  </nav>
</header>
<body>
  <h1>Ваші квитки</h1>
  {% for t in tickets %}
<div class="TicketInfo">
   <article class="YourTicketInfo">
        <p>Назва фільму {{ t.title }}</p>
        <p>Дата {{ t.date}}</p>
        <p>Початок {{ t.start_time}}</p>
        <p>Кінець {{ t.end_time}}</p>
    <p>Номер місця {{ t.seats}}</p>
      </article>
  </div>
  {% endfor %}

</body>
<footer>

</footer>
</html>
