<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Реєстрація</title>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            const burgerMenu = document.querySelector('.burger-menu');
            const menuItems = document.querySelector('.menu-items');

            burgerMenu.addEventListener('click', function() {
                burgerMenu.classList.toggle('open');
                menuItems.classList.toggle('open');
            });
        });
    </script>
</head>
<body class="Main">
<form method="POST" action="/register">
    <h1>Реєстрація</h1>
    <label>
        <input type="email" name="email" placeholder="Введіть пошту">
    </label>
    <label>
        <input type="password" name="password" placeholder="Введіть пароль"/>
    </label>
    <input type="hidden" name="type" value="register">
    <button type="submit">Реєстрація</button>
</form>
</body>
<footer>

</footer>
</html>
